@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #026873, #038C8C);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #001f25b4;
}

h1 {
    color: #038C7F;
    text-align: center;
    text-shadow: 1px 1px 2px #026157;
}

h2 {
    color: #013440;
}

p {
    text-align: justify;
}